{% extends "base.html" %}

{% set selected="contact.html" %}

{% block title %}Contact{% endblock %}

{% block description %}Hi! I'm Thomas. You can get in touch with me here.{% endblock %}

{% block content %}
<form method="POST"
      action="https://umich.edu/cgi-bin/htmail/thsm%40umich.edu">
  From: <input name="from" type="email"
               placeholder="Enter your email address"><br><br>

  Subject: <input name="subject" type="text"
                  placeholder="Enter a subject"><br><br>

  <input name="ccme" type="checkbox" checked>Send me a copy of this
  message

  <p>Please enter a message in the text box below. It will be sent to
     Thomas Smith when you click on the "Send Message" button.</p>
  <textarea name="body"></textarea>
  <input type="submit" value="Send Message">
</form>
{% endblock %}
