{% extends "base.html" %}

{% set selected="index.html" %}

{% block title %}Home{% endblock %}

{% block description %}Hi! I'm Thomas, a software engineer at Ocient and a University of Michigan alumnus. Learn about me, check out my projects, or contact me here.{% endblock %}

{% block content %}
<p>Hi, I'm Thomas, a software engineer at
  <a target="_blank" rel="noreferrer"
     href="https://www.ocient.com">Ocient</a>.
I love programming, camping, and learning new things.

<h2>About Me</h2>
<p>I graduated from the University of Michigan in December 2021 with
a BSE in Computer Science.</p>

<p>My favorite programming language is Swift, and I enjoy programming
in C++, C#, and JavaScript as well.</p>

<p>I'm on <a target="_blank" rel="noreferrer"
           href="https://github.com/thomasebsmith">GitHub</a> and
<a target="_blank" rel="noreferrer"
 href="https://www.linkedin.com/in/thomasebsmith/">LinkedIn</a>, too.</p>

<p>If you want to get in touch with me, you can <a href="contact.html">
contact me here</a>.</p>

<h2>Projects</h2>
Check out my projects <a href="projects.html">here</a>!</p>
{% endblock %}
