{% extends "base.html" %}

{% set selected="index.html" %}

{% block title %}Home{% endblock %}

{% block description %}Hi! I'm Thomas, a software engineer at Ocient and a University of Michigan alumnus. Learn about me, check out my projects, or contact me here.{% endblock %}

{% block content %}
<p>Hi, I'm Thomas, a software engineer at
{{ external_link("https://www.ocient.com", "Ocient") }}.
I love programming, camping, and learning new things.</p>

<h2>About Me</h2>
<p>I graduated from the University of Michigan in December 2021 with
a BSE in Computer Science.</p>

<p>My favorite programming language is Swift, and I enjoy programming
in C++, C#, and JavaScript as well.</p>

<p>I'm on {{ external_link("https://github.com/thomasebsmith", "GitHub") }} and
{{ external_link("https://www.linkedin.com/in/thomasebsmith/", "LinkedIn") }},
too.</p>

<p>If you want to get in touch with me, you can <a href="contact.html">
contact me here</a>.</p>

<h2>Projects</h2>
<p>Check out my projects <a href="projects.html">here</a>!</p>
{% endblock %}
