{% extends "base.html" %}

{% set selected="projects.html" %}

{% block title %}Projects{% endblock %}

{% block description %}Hi! I'm Thomas. Check out all my projects here.{% endblock %}

{% block content %}
<p>Lately, I've been improving my Java, Python, and C++ development skills
by working on different personal and collaborative programming projects.
</p>

{{ h2_with_subheading("Ocient Internship", "Java, Python") }}
<p>During summer 2021, I worked as an intern at
{{ external_link("https://www.ocient.com", "Ocient") }}, where I improved their
software for loading data into a large-scale distributed database.</p>

{{ h2_with_subheading("AdvantageCS Internship", "C#, .NET") }}
<p>During summer 2020, I worked as an intern at
{{ external_link("https://www.advantagecs.com", "AdvantageCS") }}, where I
rewrote an existing help site from scratch using C# 8 and
ASP.NET Core.</p>

{{ h2_with_subheading("Fleet", "C++") }}
<p>Check out
{{ external_link("https://github.com/thomasebsmith/fleet", "Fleet") }}, a
functional programming language with an interpreter written in C++.</p>

{{ h2_with_subheading("Naive", "JavaScript, Electron") }}
<p>I've also been working on
{{ external_link("https://github.com/thomasebsmith/naive", "Naive") }}, a text
editor written in JavaScript using the Electron framework.</p>

{{ h2_with_subheading("Private Mode", "JavaScript") }}
<p>You can also try using an
   {{ external_link(
        "https://github.com/thomasebsmith/private-mode",
        "easy-to-use Firefox add-on"
      )
   }} that I created to help you maintain your privacy online.</p>

<h2>Other Projects</h2>
<p>You can find many of my other projects on
   {{ external_link(
        "https://github.com/thomasebsmith",
        "my Github profile"
      )
   }}.</p>
{% endblock %}
