body {
  background-color: #EFEFEF;
  color: #141414;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: medium;
  margin: 2.5%;
}

header {
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
}
h1 {
  color: #F0A050;
  font-size: 300%;
  letter-spacing: 3pt;
  margin: 0;
  text-align: center;
}
nav > ul {
  text-align: center;
}
nav > ul > li {
  display: inline-block;
  list-style-type: none;
  margin-right: 5%;
}
nav > ul > li > a {
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
}
nav > ul > li.selected > a {
  text-decoration: underline;
}
nav > ul > li > a:hover {
  text-decoration: underline;
}

a {
  color: #4488D0;
}

form {
  margin: 2%;
}

input, textarea {
  background: #DFDFDF;
  border: none;
  border-radius: 3px;
  color: #242424;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: medium;
  padding: 3px;
}

input[name=from] {
  min-width: 200px;
}

input[name=subject]  {
  min-width: 250px;
}

input[type=submit] {
  border: none;
  color: #4488D0;
  margin-top: 10px;
  padding: 5px;
}

input[type=submit]:hover {
  cursor: pointer;
  text-decoration: underline;
}

textarea[name=body] {
  width: 100%;
  height: 200px;
  padding: 5px;
}
