/* Global styles */
body {
  background-color: #EFEFEF;
  color: #141414;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: medium;
  margin: 2.5%;
  margin: calc(1.5% + 25px);
}

/* Header styles */
header {
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
}

h1 {
  color: #F05252;
  font-size: 300%;
  letter-spacing: 3pt;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

nav > ul {
  padding: 0;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 20px;
}

nav > ul > li > a {
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav > ul > li.selected > a, nav > ul > li > a:hover {
  text-decoration: underline;
}

/* Article styles */
article {
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 800px;
}

a {
  color: #2270B0;
}

form {
  margin: 2%;
}

/* User input styles */
input, textarea {
  background: #DFDFDF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  color: #242424;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: medium;
  padding: 3px;
}

input[name=from] {
  min-width: 200px;
}

input[name=subject] {
  min-width: 250px;
}

input[type=checkbox] {
  margin-right: 7px;
}

input[type=submit] {
  border: none;
  color: #2066A0;
  margin-top: 10px;
  padding: 5px;
}

input[type=submit]:hover {
  cursor: pointer;
  text-decoration: underline;
}

textarea[name=body] {
  height: 200px;
  padding: 5px;
  width: 100%;
}

/* Dark mode styles */
@media(prefers-color-scheme: dark) {
  /* Global */
  body {
    background-color: #222222;
    color: #BCBCBC;
  }

  /* Header */
  header {
    border-bottom: 1px solid #787878;
  }

  /* Article */
  a {
    color: #2299CC;
  }

  /* User input */
  input, textarea {
    background: #333333;
    border: 1px solid #787878;
    color: #EDEDED;
  }

  input[type=submit] {
    color: #33A0FF;
  }
}
